@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #dfcbf3;
}

.App {
  width: 80%;
  height: 700px;
  margin: 20px auto;
  text-align: center;
}

.navbar {
  background-color: #070729;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brand{
  margin: 10px;
  color: #ccc;
  font-style: oblique;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #e5e5e5;
  padding: 5px;
  max-width: 100px;
}

.navbar nav {
  display: flex;
  justify-content: flex-end;
  max-width: 400px;
}

.pages {
  color: #e5e5e5;
  max-width: 30%;
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
}

.home-page-body {
  margin: 0 auto;
  background-color: #fff;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 60px;
}

.Signup {
  text-decoration: none;
  background-color: #f4f4;
  color: #00001a;
  padding: 10px;
  border-radius: 5px;
}

.Signup:hover {
  font-size: 1.2em;
}

.About-body {
  width: 40%;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  color: #00001a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pages:hover {
  background-color: #446;
  transition: 0.6s;
  font-weight: bold;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  margin: 25px auto;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 60%;
}

button {
  background-color: #00001a;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 150px;
  padding: 5px;
  margin-top: 20px;
}

input:focus {
  outline: none;
}

button:hover {
  background-color: steelblue;
  transition: 1s;
}

.notfound h1{
  font-size: 5em;
}
